doctype 5
html
    head
        title Adventis
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='/stylesheets/jquery.bxslider.css', rel='stylesheet')
        script(type='text/javascript',src='/javascripts/jquery.2.03.min.js')
        script(type='text/javascript',src='/javascripts/jquery.bxslider.min.js')
        script(type='text/javascript', src='https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js')
        script(type='text/javascript',src='/javascripts/main.js')
    body
        div#wrapperDiv
            div#header
                div#logo
                div#sort
                    ul
                        li Resdidencial
                            input(type="checkbox", name="sort", value="Sort")
                        li Commercial
                            input(type="checkbox", name="sort", value="Sort")
                        li Buy
                            input(type="checkbox", name="sort", value="Sort")
                        li Sell
                            input(type="checkbox", name="sort", value="Sort")
                        li Lease
                            input(type="checkbox", name="sort", value="Sort")
                div#list
                    ul
                        li: a(href="/", style="text-decoration: none") Home
                        li: a(href="/about", style="text-decoration: none") About
                        li: a(href="/add", style="text-decoration: none") add
                        li: a(href="/map", style="text-decoration: none") Properties
                        li: a(href="/contact", style="text-decoration: none") Contact Us
            if routePath === "home"
                input(type="text",id="searchBar",placeholder="City,Place")
                div#slider
                    ul.bxslider
                        li
                            img(src="/images/1.fw.png",width="100%", height="280")
                        li
                            img(src="/images/2.fw.png",width="100%", height="280")
                        li
                            img(src="/images/3.fw.png",width="100%", height="280")
                    script.
                       $('.bxslider').bxSlider({
                            width: '1000',
                            auto: true,
                            mode: 'fade',
                            controls: false,
                            pager: false
                        });
                div#bodyDiv
                    div#number
                        img(src="/images/Phone Image.png",style="margin-bottom:-5px;margin-right: 5px;width: 35px;height: 40px;")
                        a 02-222-222-222
                    img(src="/images/Divide_Line_small.fw.png", id="image")
                    div#detail Call for personalized reality guide
                    img(src="/images/Divide_Line_Center_Big.fw.png", width="100%")
                    div#about
                        div#services
                            img(src="/images/Line_OurServic.fw.png",width="150px", style="margin-left: 30px")
                            h4 Our Services :
                            img(src="/images/Line_OurServic.fw.png",width="150px", style="margin-left: 30px")
                            ul
                                li High-end Real Estate Broking
                                li Real Estate Investment Options
                                li On-line Property Exhibition
                                li Housing Loans
                                li Farm House design & construction
                                li Landscaping
                        div#thumbs
                            ul
                                li
                                    img(src="/images/Thumb1.fw.png", width="150px",height="100px")
                                li
                                    img(src="/images/Thumb2.fw.png", width="150px",height="100px")
                                li
                                    img(src="/images/Thumb3.fw.png", width="150px",height="100px")
                                li
                                    img(src="/images/Thumb4.fw.png", width="150px",height="100px")
                        div#border
                        div#about_us
                            img(src="/images/Line_OurServic.fw.png",width="150px", style="margin-left: 30px")
                            h4 Why Adventus :
                            img(src="/images/Line_OurServic.fw.png",width="150px", style="margin-left: 30px")
                            div#sliderDiv
                                ul.slider
                                    li
                                        p By changing the fundamental process of home search through a location based platforms that scouts accomdation has taken the innovativelead of bringing houses of user insted.
                                    li
                                        p By changing the fundamental process of home search through a location based platforms that scouts accomdation has taken the innovativelead of bringing houses of user insted.
                                    li
                                        p By changing the fundamental process of home search through a location based platforms that scouts accomdation has taken the innovativelead of bringing houses of user insted.
                                script.
                                    $('.slider').bxSlider({
                                        width: '250',
                                        minSlides: 1,
                                        maxSlides: 1,
                                        moveSlides: 1,
                                        auto: true,
                                        mode: 'horizontal',
                                        pager: false
                                    });
            else if routePath === "about"
                input(type="text",id="searchBar",placeholder="City,Place")
                div#about_body
                    img(src="/images/1about.fw.png",width="100%")
                    div#content
                        img(src="/images/Line_OurServic.fw.png",width="150px", style="margin-left: 50px")
                        h3 About Us
                        img(src="/images/Line_OurServic.fw.png",width="150px", style="margin-left: 50px")
                        p There are too many property portals on the web already but we are not one of them! We are convinced that real estate cannot be traded on the net like stocks or cars. The reason- its value depends on too many external factors like neighbourhood; infrastructure; development plans; connectivity; climate etc. Above all, the hardest nut to crack is the complex legal aspects.
                        p Adventus operates in the top layer of the real estate business with personalised services. Our professional consultants and legal experts carefully research and evaluate each high value lead before we recommend the property to a prospective buyer or investor. We take great pains to ensure that a customer is not short-changed and continues to be associated with us for life ! We don't stop here, we also offer buy back option should our patron opts to liquidate the investment !
                    img(src="/images/Divide_Line_Center_Big.fw.png",width="100%")
                    div#thumbs_about
                        ul
                            li
                                img(src="/images/Thumb1about.fw.png", width="250px",height="175px")
                            li
                                img(src="/images/Thumb2about.fw.png", width="250px",height="175px")
                            li
                                img(src="/images/Thumb3about.fw.png", width="250px",height="175px")
                            li
                                img(src="/images/Thumb4about.fw.png", width="250px",height="175px")
                            li
                                img(src="/images/Thumb5about.fw.png", width="250px",height="175px")
            else if routePath === "contact"
                input(type="text",id="searchBar",placeholder="City,Place")
                div#contact_content
                    img(src="/images/contact.fw.png", width="100%")
                    div#contact_body
                        img(src="/images/Line_OurServic.fw.png",width="150px", style="margin-left: 50px")
                        h3 Contact Us :
                        img(src="/images/Line_OurServic.fw.png",width="150px", style="margin-left: 50px")
                        div#contact_detail
                            div#contact_us
                                div#heading_contact
                                    img(src="/images/ContactUs Email.fw.png",style="margin-left: 20px; margin-top: 20px;")
                                    a Contact Us :
                                form(method="POST", id="form")
                                    input(type="name", name="Name", placeholder="Name", id="name")
                                    input(type="email", name="Email", id="mail",placeholder="Email")
                                    br
                                    input(type="text", name="website",id="website",placeholder="Website")
                                    br
                                    input(type="text", name="Subject",id="subject",placeholder="Subject")
                                    br
                                    textarea(type="message", name="message",placeholder="Your Text Here...")
                                    input(type="submit", name="Submit",id="submit", value="Submit")
                                div#words_contact
                                    p#para To find more about our services or to help us with your work and corporate identify, please fill in the form and click on submit.
                                    p#para1 Alternatively, please email us at info@adventusweb.com or you can talk on phone.
                                    a Tel 02-222-222-222
                                    br
                                    a Skype Username
                                    br
                                    a Email: info@adventusweb.com
                                    br
                                    a website: www.adventusindia.com
                                    br
                                    br
                                    br
                                    a Thank You
                            div#address
                                a Address:
                                br
                                | 104 First Floor,
                                br
                                | Orchid Complex,
                                br
                                | Vishrantwadi,
                                br
                                | Pune-411006
                                h4 website:www.adventusindia.com
            else if routePath === "map"
                div#search
                    div#properties
                    div#map
                        div#MapDiv
                            script.
                                var map;
                                var propertyList = JSON.parse( !{JSON.stringify(products)} );
                                console.log("propertyList");
                                console.log(propertyList);
                                var myArray=[propertyList[0]];
                                console.log("Here Comes myArray")
                                console.log(myArray[0].price);
                                    propertyList.sort(function(a, b) {
                                        return a.price - b.price;
                                    })
                                console.log(propertyList);
                                function initialize() {
                                // Initial Map Options.
                                var mapOptions = {
                                    zoom: 14,
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                };

                                // Loading Map

                                map = new google.maps.Map(document.getElementById('MapDiv'), mapOptions);

                                // Loading location as per Geolocation
                                if (navigator.geolocation) {
                                navigator.geolocation.getCurrentPosition(function (position) {
                                    console.log(propertyList[0].address.city)
                                    console.log
                                    var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                                console.log(pos+"----loading---");
                                // Function for Clustering
                                // Loading properties in Map using marker array from DB
                                    var markers = [];
                                    var infoWindows = [];
                                    for (var i = 0; i < propertyList.length; i++) {
                                        var latLng = new google.maps.LatLng(propertyList[i].LatLng.latitude, propertyList[i].LatLng.longitude);
                                        var marker = new google.maps.Marker({'position': latLng, infoWindowIndex : i});
                                        var content = '<div id=mapHoverInfo><p style="font-size:14px">'
                                                        +propertyList[i].address.line1+", "
                                                        +propertyList[i].address.line2+", "
                                                        +propertyList[i].address.city+", "
                                                        +propertyList[i].address.zip
                                                        +"</p>"
                                                        +"<ul><li>"+"Type:"+propertyList[i].type+"</li>"
                                                        +"<li>Price:"+propertyList[i].price+"</li></ul>"
                                                        +"</div>"
                                                        +"<div id=mapHoverInfoPicture>"
                                                        +"<ul><li><p>Beds:"+propertyList[i].bedrooms+"</p>"
                                                        +"<p>Baths:"+propertyList[i].bathrooms+"</p>"
                                                        +"<p>Area:"+propertyList[i].area+"sqft</p>"
                                                        +"<p>Built:2005</p>"
                                                        +'<p>More:<img width=10 height=10 src="../images/blue%20arrow.png"></p></li>'
                                                        +'<li>'+'<img width=100 height=100 src='+propertyList[i].picture+'>'+'</li></ul></div>'
                                                        +"<div id=mapHoverInfoOptions>"
                                                        +'<ul><li><img width=35 height=35 src="../images/button.png"></li>'
                                                        +'<li><img width=35 height=35 src="../images/save.png"></li>'
                                                        +'<li><img width=35 height=35 src="../images/select.png"></li>'
                                                        +'<li><img width=33 height=33 src="../images/messgae.png"></li></ul>'
                                                        +"</div>";
                                        var infoWindow = new google.maps.InfoWindow({
                                            content : content
                                        });
                                        google.maps.event.addListener(marker, 'click',
                                            function(event)
                                            {
                                                infoWindows[this.infoWindowIndex].open(map, this);
                                            }
                                        );
                                        /*
                                        google.maps.event.addListener(marker, 'mouseout',
                                            function(event)
                                            {
                                                infoWindows[this.infoWindowIndex].close();
                                            }
                                        );*/
                                        infoWindows.push(infoWindow);
                                        markers.push(marker);
                                    }
                                    var markerCluster = new MarkerClusterer(map, markers, mapOptions);
                                // End of Clustering

                                // Setting up the Map position.
                                    map.setCenter(pos);

                                // Function for Places.
                                // Not sure about Markers array please go through it when time permits
                                // End of the Places Library

                                // Reverse Geocoder function to get location city and state in Readable format
                                // Also populate in area search box

                                    geocoder = new google.maps.Geocoder();
                                var location = pos;
                                geocoder.geocode({'location': location }, function (results, status) {

                                if (status == google.maps.GeocoderStatus.OK) {
                                //Check result 0
                                var result = results[0];
                                //look for locality tag and administrative_area_level_1
                                var city = "";
                                var state = "";
                                var postalCode="";
                                for (var i = 0, len = result.address_components.length; i < len; i++) {

                                var ac = result.address_components[i];
                                if (ac.types.indexOf("locality") >= 0) city = ac.long_name;
                                if (ac.types.indexOf("administrative_area_level_1") >= 0) state = ac.short_name;
                                if (ac.types.indexOf("postal_code") >= 0) postalCode = ac.long_name;
                                //console.log(postalCode)
                                //console.log("**************************")
                                }
                                //only report if we got Good Stuff
                                if (city != '' && state != '') {
                                document.getElementById("serachFunctionComboBox").value = city + ',' + state;
                                document.getElementById("serachFunctionInputText").value = postalCode;
                                    } else {
                                        console.log('Geocoder failed' + status)
                                        }
                                        }
                                        });
                                }, function () {
                                    handleNoGeolocation(true);
                                });
                                }
                                else {
                                handleNoGeolocation(false);
                                }
                                }

                                // Test for Geolocation.

                                function handleNoGeolocation(errorFlag) {
                                if (errorFlag) {
                                    var content = 'Error: The Geolocation service failed.';
                                } else {
                                    var content = 'Error: Your browser doesn\'t support geolocation.';
                                }
                                var options = {
                                    map: map,
                                    position: new google.maps.LatLng(60, 105),
                                    content: content
                                };
                                var infowindow = new google.maps.InfoWindow(options);
                                map.setCenter(options.position);
                                }

                                // Loading main Javascript for Map


                                function loadScript() {
                                    var script = document.createElement('script');
                                    script.type = 'text/javascript';
                                    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
                                        'callback=initialize&libraries=geometry&libraries=places';
                                    document.body.appendChild(script);
                                }

                                window.onload = loadScript;

            else if routePath === "searchFailed"
                p
                    h1#searchFailedMessage Could Not Find Any Properties matching Your criteria.Please Try again.
            else if routePath === "search"
                div#search
                    div#MapDiv2
                        script.
                            var map;
                            function initialize() {
                            // Initial Map Options.
                            var mapOptions = {
                                zoom: 14,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            };

                            // Loading Map

                            map = new google.maps.Map(document.getElementById('MapDiv2'), mapOptions);

                            // Loading location as per Geolocation
                            if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(function (position) {
                                console.log
                                var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                            console.log(pos+"----loading---");
                            // Function for Clustering
                            // Loading properties in Map using marker array from DB
                                var markers = [];
                                var infoWindows = [];
                                var markerCluster = new MarkerClusterer(map, markers, mapOptions);
                            // End of Clustering

                            // Setting up the Map position.
                                map.setCenter(pos);

                            // Function for Places.
                            // Not sure about Markers array please go through it when time permits
                            // End of the Places Library

                            // Reverse Geocoder function to get location city and state in Readable format
                            // Also populate in area search box

                                geocoder = new google.maps.Geocoder();
                            var location = pos;
                            geocoder.geocode({'location': location }, function (results, status) {

                            if (status == google.maps.GeocoderStatus.OK) {
                            //Check result 0
                            var result = results[0];
                            //look for locality tag and administrative_area_level_1
                            var city = "";
                            var state = "";
                            var postalCode="";
                            for (var i = 0, len = result.address_components.length; i < len; i++) {

                            var ac = result.address_components[i];
                            if (ac.types.indexOf("locality") >= 0) city = ac.long_name;
                            if (ac.types.indexOf("administrative_area_level_1") >= 0) state = ac.short_name;
                            if (ac.types.indexOf("postal_code") >= 0) postalCode = ac.long_name;
                            //console.log(postalCode)
                            //console.log("**************************")
                            }
                            //only report if we got Good Stuff
                            if (city != '' && state != '') {

                                } else {
                                    console.log('Geocoder failed' + status)
                                    }
                                    }
                                    });
                            }, function () {
                                handleNoGeolocation(true);
                            });
                            }
                            else {
                            handleNoGeolocation(false);
                            }
                            }

                            // Test for Geolocation.

                            function handleNoGeolocation(errorFlag) {
                            if (errorFlag) {
                                var content = 'Error: The Geolocation service failed.';
                            } else {
                                var content = 'Error: Your browser doesn\'t support geolocation.';
                            }
                            var options = {
                                map: map,
                                position: new google.maps.LatLng(60, 105),
                                content: content
                            };
                            var infowindow = new google.maps.InfoWindow(options);
                            map.setCenter(options.position);
                            }

                            // Loading main Javascript for Map


                            function loadScript() {
                                var script = document.createElement('script');
                                script.type = 'text/javascript';
                                script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
                                    'callback=initialize&libraries=geometry&libraries=places';
                                document.body.appendChild(script);
                            }

                            window.onload = loadScript;
            else if routePath === "Add"
                form(method="POST",action="/properties")
                    p#Addelements Name for Property :
                        input(type="text", name="productName",id="propertyname")
                    p#Addelements Type for the Product :
                        input(type="text", name="productType",id="producttype")
                    p#Addelements Type for the Property (Sale/Rental etc) :
                        input(type="text", name="type",id="propertytype")
                    p#Addelements Property Price :
                        input(type="number", name="price",id="propertyprice")
                    p#Addelements Property's Number of Bedrooms :
                        input(type="number", name="bedrooms",id="propertybed")
                    p#Addelements Property's Number of Bathrooms :
                        input(type="number", name="bathrooms",id="propertybath")
                    p#Addelements Property's Area :
                        input(type="number", name="area",id="propertyarea")
                    p#Addelements Property's Amenities :
                        input(type="text", name="amenities",id="propertyamenities")
                    p#Addelements Property's Comments :
                        input(type="text", name="comments_from_user",id="propertycomment")
                    p#Addelements Property's Address line1 :
                        input(type="text", name="line1",id="propertyadd1")
                    p#Addelements Property's Address line2:
                        input(type="text", name="line2",id="propertyadd2")
                    p#Addelements Property's City:
                        input(type="text", name="city",id="propertycity")
                    p#Addelements Property's State:
                        input(type="text", name="state",id="propertystate")
                    p#Addelements Property's Country:
                        input(type="text", name="country",id="propertycountry")
                    p#Addelements Property's Zip:
                        input(type="text", name="zip",id="propertyzip")
                    p#Addelements Property's Latitude :
                        input(type="float", name="latitude",id="propertylat")
                    p#Addelements Property's Longitude :
                        input(type="float", name="longitude",id="propertylong")
                    button#serachFunctionButton(type="submit", name="AddProduct") Add Product
            else if routePath === "Edit"
                div#dispaly
                    h3 Update Products
                    form(method="POST",action="/properties/#{product.productName}",enctype='multipart/form-data')
                        input(type="hidden", name="_method", value="PUT")
                        p#Addelements Name for Property :
                            input(type="text", name="name", value="#{product.productName}")
                        p#Addelements Type for the Property (Sale/Rental etc) :
                            input(type="text", name="type", value="#{product.type}")
                        p#Addelements Property Price :
                            input(type="number", name="price", value="#{product.price}")
                        p#Addelements Property's Number of Bedrooms :
                            input(type="number", name="bedrooms", value="#{product.bedrooms}")
                        p#Addelements Property's Number of Bathrooms :
                            input(type="number", name="bathrooms", value="#{product.bathrooms}")
                        p#Addelements Property's Area :
                            input(type="number", name="area", value="#{product.area}")
                        p#Addelements Property's Amenities :
                            input(type="text", name="amenities", value="#{product.amenities}")
                        p#Addelements Property's Comments :
                            input(type="text", name="comments_from_user", value="#{product.comments_from_user}")
                        p#Addelements Property's Address line1 :
                            input(type="text", name="line1", value="#{product.address.line1}")
                        p#Addelements Property's Address line2:
                            input(type="text", name="line2", value="#{product.address.line2}")
                        p#Addelements Property's City:
                            input(type="text", name="city", value="#{product.address.city}")
                        p#Addelements Property's State:
                            input(type="text", name="state", value="#{product.address.state}")
                        p#Addelements Property's Country:
                            input(type="text", name="country", value="#{product.address.country}")
                        p#Addelements Property's Zip:
                            input(type="text", name="zip", value="#{product.address.zip}")
                        p#Addelements Property's Latitude :
                            input(type="float", name="latitude", value="#{product.LatLng.latitude}")
                        p#Addelements Property's Longitude :
                            input(type="float", name="longitude", value="#{product.LatLng.longitude}")
                        p#Addelements Property's Image :
                            input(type="file", name="picture")
                        button#serachFunctionButton(type="submit") Update
            else if routePath === "Show"
                div#dispaly
                    p Name for Property : #{product.productName}
                    p Type for the Property (Sale/Rental etc) : #{product.type}
                    p Property Price : #{product.price}
                    p Property's Number of Bedrooms : #{product.bedrooms}
                    p Property's Number of Bathrooms : #{product.bathrooms}
                    p Property's Area : #{product.area}
                    p Property's Amenities : #{product.amenities}
                    p Property's Comments : #{product.comments_from_user}
                    p Property's Address line1 : #{product.address.line1}
                    p Property's Address line2 : #{product.address.line2}
                    p Property's City: #{product.address.city}
                    p Property's State: #{product.address.state}
                    p Property's Country: #{product.address.country}
                    p Property's Zip: #{product.address.zip}
                    p Property's Latitude : #{product.LatLng.latitude}
                    p Property's Longitude : #{product.LatLng.longitude}
                    img(src="#{product.picture}", width="32", height="32")
                    a(href="/properties/#{product.productName}/edit", style="text-decoration: none")
                        h3 Edit
                        form(action="/properties/#{product.productName}", method="POST")
                            input(type="hidden", name="_method", value="DELETE")
                            button#serachFunctionButton(type="submit", name="Delete") Delete
            div#footer
                h4 Most popular Cities
                ul
                    li Mumbai
                    li Pune
                    li Aurangabad
                    li Nanded
                    li Amrawati
                    li Jalgaon
                    li Lonavala
                div#socialNetwork
                    a Follow Us
                    div#facebook
                    div#twitter
                    div#youtube
                    div#vimeo